{% load ccv_templatetags %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    {% head title="Delete Card" %}
    <body class="bg-zinc-950 text-neutral-100">
        {% header top_left_icon="arrow_back" href_url="cc_validation_app:index"%}
        <main class="flex justify-center items-center absolute inset-0 min-h-screen w-full -z-10">
            <form method="post" class="w-1/3 min-w-96 grid grid-cols-1 gap-4 mt-8">{% csrf_token %}
                <p class="mb-8 text-3xl font-mono">Are you sure you want to delete the card "{{ object }}"?</p>
                {{ form }}
                <input type="submit" value="Delete"
                class="flex items-center justify-evenly h-16 w-full
                bg-rose-500 rounded-full z-10
                font-bold text-xl cursor-pointer">
                <a href="javascript:history.go(-1)"
                class="flex items-center justify-evenly h-16 w-full
                bg-zinc-900 rounded-full z-10
                font-bold text-xl cursor-pointer">
                    Cancel
                </a>
            </form>
        </main>
        <footer>
        </footer>
    </body>
</html>