{% load ccv_templatetags %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    {% head title="New Card" %}
    <body class="bg-zinc-950 text-neutral-100">
        {% header top_left_icon="arrow_back" href_url="cc_validation_app:index"%}
        <main class="flex justify-center items-center">
            <form method="post" class="w-1/3 min-w-96 grid grid-cols-1 gap-8 mt-8">{% csrf_token %}
                <div class="flex flex-wrap justify-start items-center w-full gap-4">
                    <label for="id_number" class="w-full text-2xl font-mono">Number:</label>
                    <div class="flex justify-start items-center w-full relative">
                        <input type="text" name="{{ form.number.name }}" maxlength="23" required="" id="id_number" value="{{ form.number.value|default_if_none:'' }}"
                            class="w-full h-16 bg-zinc-900 rounded-full font-mono text-xl px-6 focus:ring-0 focus:bg-zinc-800 focus:border-zinc-600" oninput="showCardNumber()">
                        <span id="card-number-preview" class="material-symbols-outlined grow absolute right-4">
                    </div>
                </div>
                {% form_combo f_id="id_expires" label="Expiry date:" f_type="date" name=form.expires.name value=form.expires.value|date:"Y-m-d" %}
                {% form_combo f_id="id_name" label="Associated name:" f_type="text" name=form.name.name value=form.name.value max_length="100" %}
                {% form_combo f_id="id_cvv" label="Security code:" f_type="number" name=form.cvv.name value=form.cvv.value %}
                <input type="submit" value="Save"
                class="flex items-center justify-evenly fixed mx-auto inset-x-0 bottom-8 h-16 w-1/3
                bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-full z-10
                font-bold text-xl cursor-pointer">
            </form>
        </main>
        <footer>
        </footer>
    </body>
</html>
<script>
    async function showCardNumber() {
        const cardNumber = document.getElementById("id_number").value;
        const previewElement = document.getElementById("card-number-preview");

        if (cardNumber.length >= 13) {
            try {
                const response = await fetch(`/ccv/validate/${cardNumber}`);
                const result = await response.text();

                previewElement.textContent = result === "True" ? "check" : "close";
                previewElement.classList.toggle("text-green-500", result === "True");
                previewElement.classList.toggle("text-red-500", result === "False");

                if (result !== "True" && result !== "False") {
                    previewElement.textContent = "Non Binary, check create.html";
                }
            } catch (error) {
                previewElement.textContent = error;
            }
        } else {
            previewElement.textContent = "";
        }
    }
</script>