{% load ccv_templatetags %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  {% head title="Card" context_id=card.id %}
  <body class="bg-zinc-950 text-neutral-100">
    {% header top_left_icon="arrow_back" href_url="cc_validation_app:index"%}
    <main>
        <div class="grid grid-cols-1 gap-4">
            <div class="flex flex-wrap items-center justify-start content-evenly
            w-1/3 min-w-min h-56 p-6 bg-zinc-800 rounded-xl mx-auto mt-6">
            <div class="w-full h-16"></div>
            <p class="text-3xl font-mono font-semibold">{{ card.number }}</p>
            {% if card.valid_card == "Valid" %}
                <div class="flex-1 flex justify-end">
                    <span class="material-symbols-outlined text-green-500">
                        check
                    </span>
                </div>
            {% else %}
                <div class="flex-1 flex justify-end">
                    <span class="material-symbols-outlined text-red-500">
                        close
                    </span>
                </div>
            {% endif %}
            <p class="w-2/3 text-xl">{{ card.name.upper }}</p>
            <div class="flex-1 flex justify-end">
                <p class="text-xl">{{ card.expires | date:"m/y" }}</p>
            </div>
        </div>
        {% main_button_with_pk icon="edit" text="Edit Card" text_color="text-white" position="relative" href_url="cc_validation_app:update" pk=card.id %}
        {% main_button_with_pk icon="delete" text="Delete Card" text_color="text-white" position="relative" href_url="cc_validation_app:delete" pk=card.id %}
        </div>
    </main>
  </body>
</html>