{% load static %}
{% load ccv_templatetags %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  {% head title="Card" context_id=card.id %}
  <body class="bg-zinc-950 text-neutral-100">
    {% header top_left_icon="arrow_back" href_url="cc_validation_app:index"%}
    <main class="flex justify-center items-center absolute inset-0 min-h-screen w-full -z-10"  style="background: url(/static/cc_validation_app/images/matrix-dot-bg.png); background-size: cover; height: 100%; background-position: center">
        <div class="grid grid-cols-1 gap-6 w-full">
            <div class="flex flex-wrap items-center justify-start content-evenly
            aspect-[27/17] h-[32rem] m-8 mx-auto p-10 rounded-3xl pt-64 relative backdrop-blur-sm">
                <div class="aspect-[27/17] h-[32rem] bg-zinc-950 absolute inset-0 opacity-70 rounded-3xl border-2 border-zinc-400">

                </div>
                <div class="flex flex-wrap items-center justify-start content-evenly gap-8 z-10">
                    <p class="text-6xl font-mono font-semibold">{{ card }}</p>
                    <div class="flex-1 flex justify-end">
                        <span class="material-symbols-outlined {% if card.valid_card == "Valid" %} text-green-500 {% else %} text-red-500 {% endif %}"
                        style="font-size: 3.75rem">
                            {% if card.valid_card == "Valid" %} check {% else %} close {% endif %}
                        </span>
                    </div>
                    <p class="w-2/3 text-3xl font-mono">{{ card.name.upper }}</p>
                    <p class="flex-1 flex justify-end text-3xl font-mono">{{ card.expires | date:"m/y" }}</p>
                </div>
            </div>
            <div class="flex items-center justify-between w-[50rem] mx-auto">
                {% main_button_with_pk icon="edit" text="Edit Card" bg_color="border-2 border-amber-500 bg-zinc-950/70" position="relative" href_url="cc_validation_app:update" pk=card.id %}
                {% main_button_with_pk icon="delete" text="Delete Card" bg_color="border-2 border-rose-500 bg-zinc-950/70" position="relative" href_url="cc_validation_app:delete" pk=card.id %}
            </div>
        </div>
    </main>
  </body>
</html>