{% comment %} <head>
<script src="https://cdn.tailwindcss.com"></script>
</head> {% endcomment %}
{% load ccv_templatetags %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  {% head title="Card Index" %}
  <body class="bg-zinc-950 text-neutral-100">
    {% header top_left_icon="apps" href_url="cc_validation_app:index"%}
    <main class="flex justify-center items-center">
        {% if card_list %}
            <div class="grid grid-cols-1 gap-4">
                {% for card in card_list %}
                    <a href="{% url 'cc_validation_app:detail' card.id %}">
                        {% index_card %}
                    </a>
                {% endfor %}
                <div class="bottom-spacer w-full h-24">
            </div>
        {% else %}
            <p>No cards are available.</p>
        {% endif %}
        <a href="{% url 'cc_validation_app:create'%}" class="text-3xl font-bold underline">
            <div class="flex items-center justify-evenly fixed mx-auto inset-x-0 bottom-8 h-16 w-40
                bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-full z-10">
                <span class="material-symbols-outlined text-white">
                    add
                </span>
                <p class="text-base text-white">New Card</p>
            </div>
        </a>
    </main>
    <footer>
        <div class="w-full h-48 fixed bottom-0 bg-gradient-to-t from-zinc-950 pointer-events-none">

        </div>
    </footer>
  </body>
</html>


{% comment %} 
# Original card
<a href="{% url 'cc_validation_app:detail' card.id %}">
    <div class="flex flex-wrap items-center justify-start content-evenly
        w-auto h-56 p-6 bg-zinc-800 rounded-xl">
        <div class="w-full h-16"></div>
        <div class="w-full flex items-center justify-center">
            <p class="text-3xl font-mono font-semibold">{{ card.number }}</p>
            <div class="flex-1 flex justify-end">
                {% if card.valid_card == "Valid" %}
                <span class="material-symbols-outlined text-green-500">
                    check
                </span>
                {% else %}
                <span class="material-symbols-outlined text-red-500">
                    close
                </span>
                {% endif %}
            </div>
        </div>
        <p class="w-2/3 text-xl">{{ card.name.upper }}</p>
        <div class="flex-1 flex justify-end">
            <p class="text-xl">{{ card.expires | date:"m/y" }}</p>
        </div>
    </div>
</a>
{% endcomment %}