{% comment %} <head>
<script src="https://cdn.tailwindcss.com"></script>
</head> {% endcomment %}
{% load ccv_templatetags %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  {% head title="Card Index" %}
  <body class="bg-zinc-950 text-neutral-100">
    {% header top_left_icon="apps" href_url="cc_validation_app:index"%}
    <main class="flex justify-center items-center">
        {% if card_list %}
            <div class="grid grid-cols-1 gap-4">
                {% for card in card_list %}
                    <a href="{% url 'cc_validation_app:detail' card.id %}">
                        {% index_card %}
                    </a>
                {% endfor %}
                <div class="bottom-spacer w-full h-24">
            </div>
        {% else %}
            <p>No cards are available.</p>
        {% endif %}
        {% main_button icon="add" text="New Card" text_color="text-white" href_url="cc_validation_app:create" %}
    </main>
    <footer>
        <div class="w-full h-48 fixed bottom-0 bg-gradient-to-t from-zinc-950 pointer-events-none">
    </footer>
  </body>
</html>